apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: easyshop-ns
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ayushsoni155/easyshop-app:latest
        ports:
        - containerPort: 3000
        env:
        - name: MONGODB_URI
          value: mongodb://mongo-svc:27017/easyshop
        - name: REDIS_URI
          value: redis://redis-svc:6379
        - name: PRODUCTION_NEXTAUTH_URL
          value: http://3.248.209.76
        - name: PRODUCTION_NEXT_PUBLIC_API_URL
          value: http://3.248.209.76/api
        - name: NEXTAUTH_SECRET
          value: HmaFjYZ2jbUK7Ef+wZrBiJei4ZNGBAJ5IdiOGAyQegw=
        - name: JWT_SECRET
          value: e5e425764a34a2117ec2028bd53d6f1388e7b90aeae9fa7735f2469ea3a6cc8c
        - name: NODE_ENV
          value: production